---
layout: base.njk
eleventyExcludeFromCollections: true
---
<div class="post-list">
  {% set items = collections.posts or [] %}
  {% for item in items | reverse %}
    <div>
      <a href="{{ item.url }}">
        <h3>
          {{ item.data.title }}
          <span class="date"> &mdash; {{ item.date | dateFormat }}</span>
        </h3>
        <p>{{ item.templateContent | excerpt }}</p>
      </a>
    </div>
  {% endfor %}
</div>
